[submodule "ano-1/logica-e-teoria-de-conjuntos"]
	path = ano-1/logica-e-teoria-de-conjuntos
	url = https://github.com/cpmachado/logica-e-teoria-de-conjuntos.git
[submodule "ano-1/historia-da-matematica"]
	path = ano-1/historia-da-matematica
	url = https://github.com/cpmachado/historia-da-matematica.git
[submodule "ano-2/equacoes-diferenciais"]
	path = ano-2/equacoes-diferenciais
	url = https://github.com/cpmachado/equacoes-diferenciais.git
[submodule "ano-1/elementos-de-analise-infinitesimal-i"]
	path = ano-1/elementos-de-analise-infinitesimal-i
	url = https://github.com/cpmachado/elementos-de-analise-infinitesimal-i.git
[submodule "ano-1/algebra-linear-i"]
	path = ano-1/algebra-linear-i
	url = https://github.com/cpmachado/algebra-linear-i.git
[submodule "ano-2/estatistica-aplicada-i"]
	path = ano-2/estatistica-aplicada-i
	url = https://github.com/cpmachado/estatistica-aplicada-i.git
